/* <-----Items Overall Fix in to the size-----> */
.items {
    display: flex;
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    /* 5C6BC0 */
  }

  /* <-----Items are Hovering-----> */
  .items:hover {
   color:#F06293
  }

  /*<-----UL, LI Body Artified----->  */
  body {
    background: #81D4FA;
    color: white;
  }
  ul li{
    color: white;
  }
  ul li:hover{
    color: #FFA726;
  }
  
  
